<%
ores = [{:type_id => 1230, :class => 'high-ore', :name => "Veldspar", :five => "Concentrated", :ten => "Dense", :location => "any 1.0"},
        {:type_id => 1228, :class => 'high-ore', :name => "Scordite", :five => "Condensed", :ten => "Massive", :location => "any 1.0"},
        {:type_id => 1224, :class => 'high-ore', :name => "Pyroxeres", :five => "Solid", :ten => "Viscous", :location => "amarr/caldari 0.9"},
        {:type_id => 18,   :class => 'high-ore', :name => "Plagioclase", :five => "Azure", :ten => "Rich", :location => "minmatar/gallente 0.9, caldari 0.5"},
        {:type_id => 1227, :class => 'high-ore', :name => "Omber", :five => "Silvery", :ten => "Golden", :location => "minmatar/gallente 0.7"},
        {:type_id => 20,   :class => 'high-ore', :name => "Kernite", :five => "Luminous", :ten => "Fiery", :location => "amarr 0.5, minmatar/caldari 0.3"},
        {:type_id => 1226, :class => 'high-ore', :name => "Jaspet", :five => "Pure", :ten => "Pristine", :location => "amarr/gallente 0.3"},
        {:type_id => 1231, :class => 'high-ore', :name => "Hemorphite", :five => "Vivid", :ten => "Radiant", :location => "amarr/gallente 0.2"},
        {:type_id => 21,   :class => 'high-ore', :name => "Hedbergite", :five => "Vitric", :ten => "Glazed", :location => "minmatar/caldari 0.2"},
        {:type_id => 1229, :class => 'low-ore',  :name => "Gneiss", :five => "Iridescent", :ten => "Prismatic", :location => "0.0"},
        {:type_id => 1232, :class => 'low-ore',  :name => "Dark Ochre", :five => "Onyx", :ten => "Obisidian", :location => "0.0"},
        {:type_id => 19,   :class => 'low-ore',  :name => "Spodumain", :five => "Bright", :ten => "Gleaming", :location => "0,0"},
        {:type_id => 1225, :class => 'low-ore',  :name => "Crokite", :five => "Sharp", :ten => "Crystalline", :location => "0.0"},
        {:type_id => 1223, :class => 'low-ore',  :name => "Bistot", :five => "Triclinic", :ten => "Monoclinic", :location => "0.0"},
        {:type_id => 22,   :class => 'low-ore',  :name => "Arkonor", :five => "Crimson", :ten => "Prime", :location => "0.0"},
        {:type_id => 11396, :class => 'low-ore', :name => "Mercoxit", :five => "Magma", :ten => "Vitreous", :location => "0.0"},
        {:type_id => 16264, :class => 'ice',     :name => "Blue Ice", :five => "", :ten => "", :location => "gallente"},
        {:type_id => 16262, :class => 'ice',     :name => "Clear Icicle", :five => "", :ten => "", :location => "amarr"},
        {:type_id => 16263, :class => 'ice',     :name => "Glacial Mass", :five => "", :ten => "", :location => "minmatar"},
        {:type_id => 16265, :class => 'ice',     :name => "White Glaze", :five => "", :ten => "", :location => "caldari"},
        {:type_id => 16269, :class => 'ice',     :name => "Krystallos", :five => "", :ten => "", :location => "0.0"},
        {:type_id => 16268, :class => 'ice',     :name => "Gelidus", :five => "", :ten => "", :location => "0.0"},
        {:type_id => 16266, :class => 'ice',     :name => "Glare Crust", :five => "", :ten => "", :location => "0.5"},
        {:type_id => 16267, :class => 'ice',     :name => "Dark Glitter", :five => "", :ten => "", :location => "0.5"}]

type_ids = [1230,1228,1224,18,1227,20,1226,1231,21,1229,1232,19,1225,1223,22,11396,16264,16262,16263,16265,16269,16268,16266,16267]
#prices=Market.avg_sell type_ids
%>

<div id='tab-minerals' class='tab'>
	<div class='header'>Ore &amp; Minerals</div>
	<div class='tab-content'>
		<table>
			<thead>
				<tr>
					<th>Ore Name</th>
					<th>+5% Variant</th>
					<th>+10% Variant</th>
					<th>Location/Max Sec</th>
				</tr>
			</thead>
			<tbody>
				<% ores.each do |ore| %>
				<tr class='<%= ore[:class] %>'>
					<!-- <%= ore[:type_id] %>-->
					<td>
						<%= raw (ore[:location] =~ /any/ or ore[:location] =~ /gallente/) ? "<strong>":"" %>
							<%= ore[:name] %>
						<%= raw (ore[:location] =~ /any/ or ore[:location] =~ /gallente/) ? "</strong>":"" %>
					</td>
					<td><%= ore[:five] %></td>
					<td><%= ore[:ten] %></td>
					<td><%= ore[:location] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>