<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <em>Your EVE User ID and API Key can be found <%= link_to "here", "http://community.eveonline.com/api/default.asp", :target => "_blank" %>.<br>
  You need to provide us with either a Limited Access Key or a Full Access Key (<strong>not</strong> a Customizable Key).</em><br>
  <div class="field">
    <%= f.label "EVE User ID" %><br />
    <%= f.text_field :api_id %>
  </div>
  <div class="field">
    <%= f.label "EVE API Key" %><br />
    <%= f.text_field :api_key %>
  </div>
  <% unless @user.characters.empty? %>
  <div class="field">
    <%= f.label "Default character" %><br>
    <%= f.select :default_character_id, @user.characters.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label "Current character" %><br>
    <%= f.select :current_character_id, @user.characters.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
      <em>ex: Sec4 Missions, Mining, AFK, etc</em><br>
    <%= f.text_field :status %>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
