<h1>Listing characters</h1>
<%= form_tag bulk_create_user_characters_path(current_user) do %>
  <table>
    <tr>
      <th>Name</th>
      <th>Api</th>
      <th>Import?</th>
    </tr>

  <% @characters.each do |character| %>
    <tr>
      <td><%= character.name %><%= hidden_field_tag "name[]", character.name %></td>
      <td><%= character.character_id %><%= hidden_field_tag "character_id[]", character.character_id %></td>
      <td><%= check_box_tag "import[]" %></td>
    </tr>
  <% end %>
  </table>
  <%= submit_tag "Submit" %>
<% end %>
