<div id='nav'>
  <% if current_user %>
    Welcome, <%= current_user.first_name or current_user.email %>!
  <% end %>
  <ul>
    <li><%= link_to "Dashboard", dashboard_index_path %>
  </ul>
  <em><strong>Account</strong></em>
  <ul>
    <% if current_user %>
      <li><%= link_to "Manage Characters", user_characters_path(current_user) %></li>
      <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
      <li><%= link_to "Edit Account", edit_registration_path(current_user) %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Create Account", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
  </ul>
  <em><strong>Server</strong></em>
  <ul>
    <li><%= @api.server_status.server_open ? "Available" : "Unavailable" %></li>
    <li>Time: <%= @api.server_status.current_time.strftime("%k%M") %>
    <li><%= @api.server_status.online_players %> Online</li>
  </ul>
</div>
